<div id="appVue">
<section class="section-hero overlay inner-page bg-image" style="background-image: url('/images/hero_1-1.jpg');" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <p class="text-white font-weight-bold cause-p1">最實用的線上平台</p>
                <p class="font-weight-bold"><span class="cause-span1">今天</span><span class="cause-span2">上課 </span><span class="cause-span1">明天</span><span class="cause-span2">上工</span></p>
            </div>
            <div class="col-lg-5 col-md-4">
                <input type="text" class="form-control form-control-lg col-search" placeholder="你想學些什麼" v-model="inputvalue" @@keydown.enter="search" id="input">
                <p>
                    <button type="button" class="btn btn-outline-primary btn-sm" @@click="hitcourse" value="C#">C#</button>
                    <button type="button" class="btn btn-outline-primary btn-sm" @@click="hitcourse" value="JAVA">JAVA</button>
                    <button type="button" class="btn btn-outline-primary btn-sm" @@click="hitcourse" value="JavaScript">JavaScript</button>
                </p>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="form-group">
                    <select name="cause-category" class="form-control cause-category" v-model="selectedCategory">
                        <option value="">課程分類</option>
                        <option value="音樂">音樂</option>
                        <option value="語言">語言</option>
                        <option value="藝術">藝術</option>
                        <option value="科技">科技</option>
                        <option value="運動">運動</option>
                        <option value="理財">理財</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="card-group col-12 col-xl-3 col-md-6 mb-3" v-for="item in dataList">
                <div class="card">
                    <a v-bind:href="'https://localhost:7158/Home/courseDetail?id='+item.courseId">
                        <img :src="item.courseImg" alt="Image" class="img-fluid rounded mb-3">
                    </a>
                    <div class="card-body">
                        <h4><a v-bind:href="'https://localhost:7158/Home/courseDetail?id='+item.courseId" class="text-black font-weight-bold">{{item.courseName}}</a></h4>
                    </div>
                    <div class="card-footer">
                        <p class="text-content">時數{{item.courseLength}}小時</p>
                        <p class="text-content">同學{{item.studentCount}}人</p>
                        <div class="teacher-content">
                            <a href="#">
                                <div>
                                    <img :src="item.teacherImg" alt="" class="img-littlelogo">
                                    <span class="teacher-name">{{item.teacherName}}</span>
                                </div>
                            </a>
                            <div class="price-content">
                                <p>NT$ {{item.price}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pagination-wrap mt-5">
            <div class="col-md-12 text-center ">
                <div class="custom-pagination ml-auto">
                    <a href="#" class="prev"><</a>
                    <div class="d-inline-block">
                        <a href="#" class="active">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                    </div>
                    <a href="#" class="next">></a>
                </div>
            </div>
        </div>

    </div>
</section>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script>
        const webApi = "https://localhost:7240"
        const appVue = new Vue({
            el: "#appVue", // 綁定位置
            name: "appVue",
            data: {
                dataList: [],
                inputvalue:"",
                selectedCategory : "",
            },
            mounted: function () {
                this.course();
            },
            methods: {
                course: function () {
                    axios.get(`${webApi}/api/Courses`) //地址
                        .then(response => {
                            console.log(response.data)
                            this.dataList = response.data;
                        })
                        .catch(err => console.log(err))
                        .finally(console.log('完成'))
                },
                search : function () {
                    console.log(this.inputvalue)
                    if (this.inputvalue != "" || this.selectedKeyword != "") {
                        let keyword = this.inputvalue.replace(/[\ !@@#$%^&*()_+|}{":?>~+\-*\/.';[\]\\]+/g, "");
                        let category = this.selectedCategory;
                        axios.get(`${webApi}/api/Courses?keyword=${keyword}&category=${category}`)
                            .then(response => {
                                console.log(response.data)
                                this.dataList = response.data;
                            })
                            .catch(err => console.log(err))
                            .finally(console.log('完成'))
                    }else{
                        $('input').blur();
                    }
                },
                hitcourse: function (e) {
                    let keyword = e.target.value
                    axios.get(`${webApi}/api/Courses?keyword=${keyword}`) //地址
                        .then(response => {
                            console.log(response.data)
                            this.dataList = response.data;
                        })
                        .catch(err => console.log(err))
                        .finally(console.log('完成'))
                },

            },
            watch : {
                selectedCategory: {
                    handler(newval) {
                        this.search();
                    },
                    deep: true
                },
            }
        })
    </script>
}