<!-- HOME start-->
<div id="appVue">
    <section class="section-hero overlay inner-page bg-image " style="background-image: url('/images/hero_1.jpg');"
             id="home-section">
        <div class="container">
            <div class="row mt-1 job-row d-flex justify-content-center">
                <div class="col-12 col-lg-5 col-md-6 col-sm-6 text-center">
                    <input type="text" class="form-control" placeholder="搜尋職稱、公司或任何關鍵字" v-model="inputvalue" @@keydown.enter="add" id="input">
                </div>
                <div class="col-12 col-lg-1 col-md-1 col-sm-4 mr-lg-5 d-flex">
                    <a href="#">
                        <button class="btn btn-primary"><i class="fa-solid fa-magnifying-glass ml-4 mr-4"></i></button>
                    </a>
                </div>
                <div class="wrapper col-12 col-lg-3 d-flex col-md-6 justify-content-center text-center">
                    <input type="radio" name="select" id="option-1" v-model="picked" value="職缺" checked>
                    <input type="radio" name="select" id="option-2" v-model="picked" value="公司">
                    <label for="option-1" class="option option-1">
                        <div class="dot"></div>
                        <span>職缺</span>
                    </label>
                    <label for="option-2" class="option option-2">
                        <div class="dot"></div>
                        <span>公司</span>
                    </label>
                </div>
            </div>
            <div class="row mt-1 job-row2 d-flex justify-content-center">
                <div class="col-lg-3 col-md-6 ">
                    <div class="form-group">
                        <select name="cause-category" class="form-control cause-category" v-model="selectedCategory">
                            <option value="">行業別</option>
                            <option value="服務">服務</option>
                            <option value="科技">科技</option>
                            <option value="藝文">藝文</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <select name="cause-category" class="form-control cause-category" v-model="selectedArea">
                            <option value="">地區</option>
                            <option value="台北">台北</option>
                            <option value="新北">新北</option>
                            <option value="高雄">高雄</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-2">
                    <div>
                        <a href="#" @@click="clear"><i class="fa-solid x-mark">×</i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- home end -->
    <!-- content start -->
    <section class="site-section block__18514 pt-4">
        <div class="container h-100">
            <div class="d-lg-flex row">
                <div class="col-lg-8 mt-lg-5 mt-3 order-lg-1 order-2">
                    <!-- leftslide start -->
                    <div class="row">
                        <!-- 一個card start -->
                        <div class="card context row p-3 mb-4 mx-1" v-if="boolean == false" v-for="data in datas">
                            <div class="d-lg-flex sm-row justify-content-between">
                                <div class="left col-lg-9 col-12 d-sm-flex xs-row">
                                    <div class="img col-xs-12">
                                        <img :src="data.img" alt="">
                                    </div>
                                    <div class="job-context">
                                        <ul class="list-unstyled block__47528 mb-0 ">
                                            <li class="ml-3 d-flex row mt-2">
                                                {{data.companyName}}
                                            </li>
                                            <li>
                                                <a class="ml-3 font-weight-bold active" asp-area="" asp-controller="Home" asp-action="jobSingle" :id="data.vacancyId" v-on:click="jobsingle(data.vacancyId)">{{data.workName}}</a>
                                            </li>
                                        </ul>
                                        <p class="ml-3 card-text ellipsis2">
                                            {{data.info}}
                                        </p>
                                    </div>
                                </div>
                                <div class="right col-lg-3 col-12 mt-3 ml-2 ml-lg-o ml-sm-4 xs-row">
                                    <div class="py-1 d-lg-flex d-inline px-lg-0 px-sm-2">
                                        <i class="fa-solid fa-user"></i><span class="fs-6 ml-2" v-if="data.fullPartTime == true">全職</span><span class="fs-6 ml-2" v-else>兼職</span>
                                    </div>
                                    <div class="py-1 d-lg-flex d-inline px-lg-0 px-sm-2">
                                        <i class="fa-solid fa-location-dot"></i><span class="fs-6 ml-2">{{data.workPlace}}</span>
                                    </div>
                                    <div class="py-1 d-lg-flex d-inline px-lg-0 px-sm-2">
                                        <i class="fa-solid fa-sack-dollar"></i><span class="fs-6 ml-2">{{data.salary}}</span>
                                    </div>
                                    <div class="py-1 d-lg-flex d-inline px-lg-0 px-sm-2">
                                        <i class="fa-solid fa-briefcase"></i><span class="fs-6 ml-2">{{data.seniority}}</span>
                                    </div>
                                    <div class="py-1 d-lg-flex d-inline px-lg-0 px-sm-2">
                                        <i class="fa-solid fa-share-nodes"></i><span class="fs-6 ml-2">{{data.shift}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="d-lg-flex sm-row mt-3">
                                <div class="d-lg-flex ml-sm-2 mt-md-1 col-lg-6 col-12">
                                    <div class="pl-5">
                                        <i class="fa-regular fa-clock"></i><span class="fs-6 ml-2">幾小時前更新</span>
                                    </div>
                                    <div class="pl-5">
                                        <i class="fa-regular fa-eye"></i><span class="fs-6 ml-2">1000+</span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12 text-right">
                                    <a href="#">
                                        <button class="btn btn-dark px-4 mx-1">
                                            <i class="fa-regular fa-bookmark"></i><span class="ml-2">儲存</span>
                                        </button>
                                    </a>
                                    <a href="#">
                                        <button class="btn btn-primary mx-1">
                                            <a class="text-decoration-none text-white" asp-controller="Home" asp-action="jobSingle">
                                                <i class="fa-solid fa-arrow-up-right-from-square"></i><span class="ml-2">立即應徵</span>
                                            </a>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- 一個card end -->
                        <!-- 一個 公司 card start -->
                        <div class="card context row p-3 mb-4 mx-1" v-if="boolean == true" v-for="data in datas">
                            <div class="d-lg-flex sm-row justify-content-between">
                                <div class="left col-lg-9 col-12 d-sm-flex xs-row">
                                    <div class="img col-xs-12">
                                        <img :src="data.img" alt="">
                                    </div>
                                    <div class="job-context">
                                        <ul class="list-unstyled block__47528 mb-0 ">
                                            <li class="ml-3 d-flex row mt-2">
                                                <!--{{data.companyName}}-->
                                            </li>
                                            <li>
                                                <a class="ml-3 font-weight-bold active" asp-area="" asp-controller="Home" asp-action="jobSingle">{{data.companyName}}</a>
                                            </li>
                                        </ul>
                                        <p class="ml-3 card-text">
                                            {{data.info}}
                                        </p>
                                    </div>
                                </div>
                                <div class="right col-lg-3 col-12 mt-3 ml-2 ml-lg-o ml-sm-4 xs-row">
                                    <div class="py-1 d-lg-flex d-inline px-lg-0 px-sm-2">
                                        <i class="fa-solid fa-location-dot"></i><span class="fs-6 ml-2">{{data.workPlace}}</span>
                                    </div>
                                    <div class="py-1 d-lg-flex d-inline px-lg-0 px-sm-2">
                                        <i class="fa-solid fa-users"></i><span class="fs-6 ml-2">{{data.employee}}人</span>
                                    </div>
                                    <!--<div class="py-1 d-lg-flex d-inline px-lg-0 px-sm-2">
                                        <i class="fa-solid fa-sack-dollar"></i><span class="fs-6 ml-2">{{data.salary}}</span>
                                    </div>-->
                                    <div class="py-1 d-lg-flex d-inline px-lg-0 px-sm-2">
                                        <i class="fa-solid fa-tag"></i><span class="fs-6 ml-2">{{data.category}}</span>
                                    </div>
                                    <!--<div class="py-1 d-lg-flex d-inline px-lg-0 px-sm-2">
                                        <i class="fa-solid fa-share-nodes"></i><span class="fs-6 ml-2">{{data.shift}}</span>
                                    </div>-->
                                </div>
                            </div>
                            <div class="d-lg-flex sm-row mt-3">
                                <div class="d-lg-flex ml-sm-2 mt-md-1 col-lg-6 col-12">
                                    <div class="pl-5">
                                        <i class="fa-regular fa-clock"></i><span class="fs-6 ml-2">幾小時前更新</span>
                                    </div>
                                    <div class="pl-5">
                                        <i class="fa-regular fa-eye"></i><span class="fs-6 ml-2">1000+</span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12 text-right">
                                    <a href="#">
                                        <button class="btn btn-dark px-4 mx-1">
                                            <i class="fa-regular fa-bookmark"></i><span class="ml-2">儲存</span>
                                        </button>
                                    </a>
                                    <!--<a href="#">
                                        <button class="btn btn-primary mx-1">
                                            <a class="text-decoration-none text-white" asp-controller="Home" asp-action="jobSingle">
                                                <i class="fa-solid fa-arrow-up-right-from-square"></i><span class="ml-2">立即應徵</span>
                                            </a>
                                        </button>
                                    </a>-->
                                </div>
                            </div>
                        </div>
                        <!-- 一個card end -->
                    </div>
                    <!-- leftslide end -->
                </div>
                <!-- Below is sidebar -->
                <div class="col-xs-12 col-md-10 col-lg-4 mt-lg-5 order-lg-2 order-1">
                    <div class="row">
                        <nav class="navbar navbar-expand-lg navbar-light px-1 py-0">
                            <!-- <a class="navbar-brand" href="#">Liya rescue</a> -->
                            <button class="navbar-toggler mb-2" type="button" data-toggle="collapse"
                                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                                    aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto flex-column">
                                    <li class="nav-item px-1 mx-1">
                                        <div class="head"></div>
                                        <div class="mb-3 border navbar-nav box">
                                            <div class="p-3 w-100">
                                                <figure class="figure ml-2">
                                                    <img src="https://picsum.photos/250/250/?random=10"
                                                         class="figure-img img-fuild rounded-circle  w-50  ">
                                                    <h3 class="display-6 slide-h3 mt-1">使用者! 你好</h3>
                                                </figure>
                                                <div>手機:</div>
                                                <div>信箱:</div>
                                                <div class="item text-end align-content-end mb-0">
                                                    <div class="text-right mr-3 fw-bold">
                                                        <a href="#">
                                                            修改會員資料 <i class="fa-solid fa-chevron-right"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <hr />
                                                <div>履歷總數：</div>
                                                <div>預設履歷：</div>
                                                <div class="item input-group">
                                                    <div class="d-flex">
                                                        <p class="mr-1"> 開放設定：</p>
                                                        <div>
                                                            <div class="input-group-prepend ">
                                                                <input type="radio" name="CV" id="CVON"><span class="font-weight-normal text-body">開放履歷</span>
                                                            </div>
                                                            <div class="input-group-prepend ">
                                                                <input type="radio" name="CV" id="CVOFF"><span class="font-weight-normal text-body">關閉履歷</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-block text-right">
                                                    <div class="text-right mr-3 fw-bold">
                                                        <a href="#">
                                                            瀏覽所有履歷 <i class="fa-solid fa-chevron-right"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item px-1 mx-1">
                                        <div class="head mt-4 "></div>
                                        <div class="border p-4 box mb-6">
                                            <ul class="list-unstyled block__47528 ">
                                                <li><span class="active h2 ">購買課程</span></li>
                                                <li class="text-left">前往課程頁面學習更多</li>
                                                <div class="w-100 text-center">
                                                    <button class="h-50 w-auto btn slide-button btn-lg">
                                                        <a href="/cause_control.html"
                                                           class="">課程管理</a>
                                                    </button>
                                                </div>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item px-1 mx-1">
                                        <div class="head mt-4"></div>
                                        <div class="border p-4 box mb-6 h-auto">
                                            <ul class="list-unstyled block__47528 ">
                                                <li><span class="active h2">廣告</span></li>
                                                <figure class="w-100">
                                                    <img src="https://picsum.photos/100/100/?random=10" class="float-left mr-3">
                                                    <figcaption>
                                                        內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文
                                                        內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文
                                                    </figcaption>
                                                </figure>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- </div> -->
                        </nav>
                    </div>
                </div>
                <!-- Above is sidebar -->
            </div>
            <div class="row pagination-wrap mt-5">
                <div class="col-md-12 text-center">
                    <div class="custom-pagination ml-auto">
                        <a href="#" class="prev" @@click="prev">Prev</a>
                        <div class="d-inline-block" v-for="item in page">
                            <a href="#" class="active" @@click="changepage(item)" v-if="item == tempitem">{{item + 1}}</a>
                            <a href="#" @@click="changepage(item)" v-else>{{item + 1}}</a>
                        </div>
                        <a href="#" class="next" @@click="next">Next</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- content end -->
@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>
    <script>
        const webApi = "https://localhost:7240"
        const appVue = new Vue({
            el: "#appVue",
            name: "appVue",
            data: {
                datas: [],
                inputvalue: "",
                picked: "職缺",
                boolean: false,
                selectedCategory: "",
                selectedArea: "",
                temp: 0,
                tempitem: 0,
                page: []
            },
            mounted: function () {
                this.search();
            },
            methods: {
                jobsingle: function (vacancyId) {
                    window.localStorage.removeItem("vanId");
                    window.localStorage.setItem("vanId", vacancyId);
                    //let key = window.localStorage.getItem("vanId");
                    window.location = "/Home/jobSingle";
                },
                add: function () {
                    if (this.inputvalue) {
                        this.tempitem = 0;
                        let name = this.inputvalue.replace(/[\ !@@#$%^&*()_+|}{":?>~+\-*\/.';[\]\\]+/g, "");
                        axios.get(`${webApi}/api/vacancies?name=${name}&category=${category}&workplace=${workplace}`)
                            .then(res => {
                                this.datas = [];
                                this.datas = res.data;
                                this.temp = res.data.length;
                                this.countpage();
                                let arr = [];
                                if (this.datas.length > 5) {
                                    for (let i = 0; i < 5; i++) {
                                        let item = {};
                                        item = this.datas[i];
                                        arr.push(item);
                                    }
                                    this.datas = arr;
                                }
                            })
                        $('input').blur();
                    } else {
                        $('input').blur();
                    }
                },
                search() {
                    this.tempitem = 0;
                    let name = this.inputvalue.replace(/[\ !@@#$%^&*()_+|}{":?>~+\-*\/.';[\]\\]+/g, "");
                    let category = this.selectedCategory;
                    let workplace = this.selectedArea;
                    let url = `${webApi}/api/vacancies?name=${name}&category=${category}&workplace=${workplace}`;
                    axios.get(url)
                        .then(res => {
                            this.datas = [];
                            this.datas = res.data;
                            this.temp = res.data.length;
                            this.countpage();
                            let arr = [];
                            if (this.datas.length > 5) {
                                for (let i = 0; i < 5; i++) {
                                    let item = {};
                                    if (this.datas[i].seniority == 0) {
                                        this.datas[i].seniority = '不限年資';
                                    } else {
                                        this.datas[i].seniority = this.datas[i].seniority + '年';
                                    }
                                    item = this.datas[i];
                                    arr.push(item);
                                }
                                this.datas = arr;
                            }
                        })
                        .catch(err => console.log(err))
                        .finally(console.log('完成'))
                },
                clear() {
                    this.selectedCategory = '';
                    this.selectedArea = '';
                    this.inputvalue = '';
                },
                countpage() {
                    this.page = [];
                    if (this.temp % 5 == 0) {
                        this.temp = this.temp / 5;
                    } else {
                        this.temp = Math.floor(this.temp / 5) + 1;
                    }
                    for (let i = 0; i < this.temp; i++) {
                        this.page[i] = i;
                    }
                },//計算頁數
                changepage(item) {
                    this.tempitem = item;
                    let name = this.inputvalue.replace(/[\ !@@#$%^&*()_+|}{":?>~+\-*\/.';[\]\\]+/g, "");
                    let category = this.selectedCategory;
                    let workplace = this.selectedArea;
                    let url = `${webApi}/api/vacancies?name=${name}&category=${category}&workplace=${workplace}`;
                    axios.get(url)
                        .then(res => {
                            appVue.datas = [];
                            appVue.datas = res.data;
                            this.temp = res.data.length;
                            this.countpage();
                            let arr = [];
                            if ((item + 1) == this.page.length) {
                                for (let i = item * 5; i < this.datas.length; i++) {
                                    let item = {};
                                    item = this.datas[i];
                                    arr.push(item);
                                }
                                this.datas = arr;
                            }
                            else {
                                for (let i = item * 5; i < (item + 1) * 5; i++) {
                                    let item = {};
                                    item = this.datas[i];
                                    arr.push(item);
                                }
                                this.datas = arr;
                            }
                        })
                },
                prev() {
                    let item = this.tempitem;
                    if (item != 0) {
                        item--;
                        this.changepage(item);
                    }
                },
                next() {
                    let item = this.tempitem;
                    item++;
                    if (item != this.page.length) {
                        this.changepage(item);
                    }
                },
                companysearch() {
                    this.tempitem = 0;
                    let name = this.inputvalue.replace(/[\ !@@#$%^&*()_+|}{":?>~+\-*\/.';[\]\\]+/g, "");
                    let category = this.selectedCategory;
                    let address = this.selectedArea;
                    let url = `${webApi}/api/Enterprises?name=${name}&category=${category}&address=${address}`;
                    axios.get(url)
                        .then(res => {
                            this.datas = [];
                            this.datas = res.data;
                            this.temp = res.data.length;
                            this.countpage();
                            let arr = [];
                            if (this.datas.length > 5) {
                                for (let i = 0; i < 5; i++) {
                                    let item = {};
                                    item = this.datas[i];
                                    arr.push(item);
                                }
                                this.datas = arr;
                            }
                        })
                }
            },
            watch: {
                picked: {
                    handler(newval) {
                        if (newval == '公司') {
                            this.boolean = true;
                            this.companysearch();
                        } else {
                            this.boolean = false;
                            this.search();
                        }
                    }
                },
                inputvalue: {
                    handler(newval) {
                        this.search();
                    },
                    deep: true,
                },
                selectedCategory: {
                    handler(newval) {
                        this.search();
                    },
                    deep: true
                },
                selectedArea: {
                    handler(newval) {
                        this.search();
                    },
                    deep: true
                },
            },

        })

    </script>
}