<!-- HOME start-->
<section class="section-hero overlay inner-page bg-image " style="background-image: url('images/hero_1.jpg');"
         id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">課程管理</h1>
            </div>
        </div>
    </div>
</section>
<!-- home end -->

<section class="site-section block__18514 pt-4" id="next-section">
    <div class="container h-100">
        <div class="row">
            <!-- Below is sidebar -->
            <div class="col-xs-12 col-md-10 col-lg-4 mt-lg-5">
                <nav class="navbar navbar-expand-lg navbar-light pl-lg-5 py-0">
                    <!-- <a class="navbar-brand" href="#">Liya rescue</a> -->
                    <button class="navbar-toggler mb-2" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto flex-column">
                            <li class="nav-item px-1 mx-1">
                                <div class="head"></div>
                                <div class="border p-4 box mb-6">
                                    <ul class="list-unstyled block__47528 ">
                                        <li><span class="active h2 ">購買課程</span></li>
                                        <li class="text-left">前往課程頁面學習更多</li>
                                        <div class="w-100 text-center">
                                            <button class="h-50 w-auto btn slide-button btn-lg">
                                                <a href="/cause_control.html" class="">課程管理</a>
                                            </button>
                                        </div>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item px-1 mx-1">
                                <div class="head mt-4"></div>
                                <div class="border p-4 box mb-6 h-auto">
                                    <ul class="list-unstyled block__47528 ">
                                        <li><span class="active h2">廣告</span></li>
                                        <figure class="w-100">
                                            <img src="https://picsum.photos/100/100/?random=10" class="float-left mr-3">
                                            <figcaption>
                                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime, corrupti
                                                distinctio dolore repellat corporis nulla consequuntur nostrum laboriosam
                                                molestiae doloribus perspiciatis totam esse veritatis expedita, atque dicta,
                                                ullam necessitatibus exercitationem.
                                            </figcaption>
                                        </figure>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- </div> -->
                </nav>
            </div>
            <!-- Above is sidebar -->
            <div class="col-xs-12 col-md-12 col-lg-8 mt-lg-5">
                <form action="#" class="mx-0 box context p-4">
                    <h2 class="font-weight-bolder py-3">會員登錄</h2>
                    <div class="row form-group w-100">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-body h5" for="fname">帳號</label>
                            <input type="text" id="fname" class="form-control col-12"
                                   placeholder="Email address">
                        </div>
                    </div>
                    <div class="row form-group w-100">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-body h5" for="fname">密碼</label>
                            <input type="password" id="fname" class="form-control col-12"
                                   placeholder="Password">
                        </div>
                    </div>
                    <div class="row form-group text-right">
                        <div class="col-md-12 ">
                            <input type="submit" value="清除" class="btn px-4 slide-button m-2">
                            <input type="submit" value="登入" class="btn px-4 slide-button m-2">
                        </div>
                    </div>
                </form>
            </div>


        </div>
    </div>
    </div>
</section>
