<!-- HOME start-->
<section class="section-hero overlay inner-page bg-image " style="background-image: url('/images/hero_1-1.jpg');"
         id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">會員登入</h1>
            </div>
        </div>
    </div>
</section>
<!-- home end -->

<section class="site-section block__18514 pt-4" id="next-section">
    <div class="container h-100 pt-3">
        <div class="row">
            <!-- Below is sidebar -->
            <div class="col-xs-12 col-md-10 col-lg-4">
                <nav class="navbar navbar-expand-lg navbar-light pl-lg-5 py-0">
                    <!-- <a class="navbar-brand" href="#">Liya rescue</a> -->
                    <button class="navbar-toggler mb-2" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto flex-column">
                            <li class="nav-item px-1 mx-1 mb-5">
                                <div class="head "></div>
                                <div class="border p-4 box mb-6 h-auto">
                                    <ul class="list-unstyled block__47528 ">
                                        <li><span class="active h2">廣告</span></li>
                                        <figure class="w-100">
                                            <img src="https://picsum.photos/100/100/?random=10"
                                                 class="float-left mr-3">
                                            <figcaption>
                                                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                                Maxime, corrupti
                                                distinctio dolore repellat corporis nulla consequuntur nostrum
                                                laboriosam
                                                molestiae doloribus perspiciatis totam esse veritatis expedita,
                                                atque dicta,
                                                ullam necessitatibus exercitationem.
                                            </figcaption>
                                        </figure>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item px-1 mx-1">
                                <div class="head mt-4"></div>
                                <div class="border p-4 box mb-6 h-auto">
                                    <ul class="list-unstyled block__47528 ">
                                        <li><span class="active h2">廣告</span></li>
                                        <figure class="w-100">
                                            <img src="https://picsum.photos/100/100/?random=10" class="float-left mr-3">
                                            <figcaption>
                                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime, corrupti
                                                distinctio dolore repellat corporis nulla consequuntur nostrum laboriosam
                                                molestiae doloribus perspiciatis totam esse veritatis expedita, atque dicta,
                                                ullam necessitatibus exercitationem.
                                            </figcaption>
                                        </figure>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- </div> -->
                </nav>
            </div>

            <!-- Above is sidebar -->
            <div class="col-lg-8 mt-lg-0 mt-5  mx-0 box context p-4 h-75">
                <ul class="nav nav-tabs row" id="myTab" role="tablist">
                    <li class="nav-item col-6 px-0 " role="presentation">
                        <a class="nav-link active text-center w-100 border-bottom-0" id="candidate-tab" data-toggle="tab" href="#candidate" role="tab" data-bs-target="#candidate" aria-selected="true">求職登入</a>
                    </li>
                    <li class="nav-item  col-6 px-0 " role="presentation">
                        <a class="nav-link text-center w-100 border-bottom-0" id="enterprise-tab" data-toggle="tab" href="#enterprise" role="tab" data-bs-target="#enterprise" aria-selected="true">徵才登入</a>
                    </li>
                </ul>


                <div class="tab-content" id="appVue">
                    <!-- Above is sidebar -->
                    <!-- 求職端 -->

                    <div class="tab-pane fade show active" id="candidate" role="tabpanel">
                        <div class="col-lg-8 content mt-3 pt-lg-0 mt-lg-5 pb-2 w-100  mt-1 pl-5">

                            <div class="row form-group ">
                                <h3 class="font-weight-bolder py-3">求職登入</h3>
                                <div class="col-12 mb-4">
                                    <label class="text-body h5" for="fname">帳號</label>
                                    <input type="text" class="form-control col-12" placeholder="Email address" v-model="Account">
                                </div>
                                <br><br>
                                <div class="col-12 mb-3 mb-md-0">
                                    <label class="text-body h5" for="fname">密碼</label>
                                    <input type="text" class="form-control col-12" placeholder="Password" v-model="Password">
                                </div>
                            </div>
                        </div>
                        <div class="row form-group text-right mr-4">
                            <span class="ml-4 pl-5">
                                <a href="" class="mr-3">忘記密碼</a>
                                <a asp-controller="Home" asp-action="memberSignup" class="">註冊會員</a>
                            </span>
                            <div class="col-12 w-100">
                                <input type="submit" value="清除" class="btn px-4 slide-button m-2">

                                <button class="btn btn-primary px-4 m-2 " @@click="Signin">登入</button>
                            </div>


                        </div>

                    </div>

                    <div class="tab-pane fade show " id="enterprise" role="tabpanel">
                        <div class="col-lg-8 content mt-3 pt-lg-0 mt-lg-5 pb-2 w-100  mt-1 pl-5">

                            <div class="row form-group ">
                                <h3 class="font-weight-bolder py-3">徵才登入</h3>
                                <div class="col-md-12 mb-4">
                                    <label class="text-body h5" for="fname">帳號</label>
                                    <input type="text" class="form-control  col-12" placeholder="Email address" v-model="EnpAccount">
                                </div>
                                <br><br>
                                <div class="col-md-12 mb-3 mb-md-0">
                                    <label class="text-body h5" for="fname">密碼</label>
                                    <input type="text" class="form-control  col-12" placeholder="Password" v-model="EnpPassword">
                                </div>
                            </div>
                        </div>
                        <div class="row form-group text-right mr-4">
                            <span class="ml-4 pl-5">
                                <a href="" class="mr-3">忘記密碼</a>
                                <a asp-controller="Home" asp-action="memberSignup" class="">註冊會員</a>
                            </span>
                            <div class="col-12">
                                <input type="submit" value="清除" class="btn px-4 slide-button m-2 ">

                                <button class="btn btn-primary px-4 m-2" @@click="EnpSignin">登入</button>
                            </div>


                        </div>

                    </div>

                </div>
            </div>
        </div>
</section>

@section Scripts{

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>
    <script>
        const webApi = "https://localhost:7240"
        const appVue = new Vue({
            el: "#appVue",
            name: "appVue",
            data: {
                datas: [],
                Id: null,
                //求職端
                Account: null,
                Password: null,
                //徵才端
                EnpAccount: null,
                EnpPassword: null

            },
            mounted: function () {
                let _this = this;

            },
            methods: {
                Signin: function () {
                    let _this = this;
                    let login = {};
                    login.Id = 0;
                    login.Account = _this.Account;
                    login.Password = _this.Password;
                    axios.post(`${webApi}/api/Candidates/Login`, login)
                        .then(response => {
                            if (response.data.length > 0) {
                                sessionStorage.setItem("Id", response.data[0].candidateId);
                                sessionStorage.setItem("Name", response.data[0].name);
                                window.location = "/Home/Index";
                            }
                            else {
                                alert("帳號密碼輸入錯誤");
                            }
                        })
                        .catch(err => console.log(err))
                        .finally(console.log(response.data[0]))
                },
                EnpSignin: function () {
                    let _this = this;
                    let login = {};
                    login.Id = 0;
                    login.Account = _this.EnpAccount;
                    login.Password = _this.EnpPassword;
                    axios.post(`${webApi}/api/Enterprises/Login`, login)
                        .then(response => {
                            if (response.data.length > 0) {
                                sessionStorage.setItem("Id", response.data[0].enterpriseId);
                                sessionStorage.setItem("Name", response.data[0].name);
                                window.location = "/Home/Index";
                            }
                            else {
                                alert("帳號密碼輸入錯誤");
                            }
                        })
                        .catch(err => console.log(err))
                        .finally(console.log('完成'))
                },

            },
        })

        //const newVue = new Vue({
        //    el: "#newVue",
        //    name: "newVue",
        //    data: {

        //    },
        //    methods: {

        //    },
        //},
        //        })


        const app = new Vue({
            el: "#app",
            name: "app",
            data: {
                Id: sessionStorage.getItem("Id"),
                Name: sessionStorage.getItem("Name"),
            },

        })
        const vue = new Vue({
            el: "#vue",
            name: "vue",
            data: {
                Id: sessionStorage.getItem("Id"),
                Name: sessionStorage.getItem("Name"),
            },
            methods: {
                signOut: function () {
                    sessionStorage.clear();
                    window.location = "/Home/Index";
                },
            },

        })
    </script>
    }

