<!-- HOME start-->
<section class="section-hero overlay inner-page bg-image " style="background-image: url('/images/hero_1-1.jpg');"
         id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">會員登入</h1>
            </div>
        </div>
    </div>
</section>
<!-- home end -->

<section class="site-section block__18514 pt-4" id="next-section">
    <div class="container h-100">
        <div class="row">
            <!-- Below is sidebar -->
            <div class="col-xs-12 col-md-10 col-lg-4 mt-lg-5">
                <nav class="navbar navbar-expand-lg navbar-light pl-lg-5 py-0">
                    <!-- <a class="navbar-brand" href="#">Liya rescue</a> -->
                    <button class="navbar-toggler mb-2" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto flex-column">
                            <li class="nav-item px-1 mx-1 mb-5">
                                <div class="head "></div>
                                <div class="border p-4 box mb-6 h-auto">
                                    <ul class="list-unstyled block__47528 ">
                                        <li><span class="active h2">廣告</span></li>
                                        <figure class="w-100">
                                            <img src="https://picsum.photos/100/100/?random=10"
                                                 class="float-left mr-3">
                                            <figcaption>
                                                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                                Maxime, corrupti
                                                distinctio dolore repellat corporis nulla consequuntur nostrum
                                                laboriosam
                                                molestiae doloribus perspiciatis totam esse veritatis expedita,
                                                atque dicta,
                                                ullam necessitatibus exercitationem.
                                            </figcaption>
                                        </figure>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item px-1 mx-1">
                                <div class="head mt-4"></div>
                                <div class="border p-4 box mb-6 h-auto">
                                    <ul class="list-unstyled block__47528 ">
                                        <li><span class="active h2">廣告</span></li>
                                        <figure class="w-100">
                                            <img src="https://picsum.photos/100/100/?random=10" class="float-left mr-3">
                                            <figcaption>
                                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime, corrupti
                                                distinctio dolore repellat corporis nulla consequuntur nostrum laboriosam
                                                molestiae doloribus perspiciatis totam esse veritatis expedita, atque dicta,
                                                ullam necessitatibus exercitationem.
                                            </figcaption>
                                        </figure>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- </div> -->
                </nav>
            </div>
            <!-- Above is sidebar -->
            <div class="col-lg-8 content mt-3 pt-lg-0 mt-lg-5 pb-2" id="appVue">
                <form action="#" class="mx-0 box context p-4">
                    <div class="row form-group ml-md-5">
                        <h3 class="font-weight-bolder py-3">會員登錄</h3>
                        <div class="col-md-12 mb-4">
                            <label class="text-body h5" for="fname">帳號</label>
                            <input type="text" id="fname" class="form-control col-md-7 col-12" placeholder="Email address" v-model="account">
                        </div>
                        <br><br>
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-body h5" for="fname">密碼</label>
                            <input type="password" id="fname" class="form-control col-md-7 col-12" placeholder="Password" v-model="password">
                        </div>
                    </div>
                    <div class="row form-group text-right">
                        <span class="ml-4 pl-5">
                            <a href="" class="mr-3">忘記密碼</a>
                            <a asp-controller="Home" asp-action="memberSignup" class="">註冊會員</a>
                        </span>
                            <div class="col-md-12 ">
                                <input type="submit" value="清除" class="btn px-4 slide-button m-2">

                                <a asp-controller="Home" asp-action="memberCenter" class="btn btn-primary px-4 m-2">登入</a>
                            </div>
                        

                    </div>
                </form>
            </div>


        </div>
    </div>
   
</section>

@section Scripts{

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>
    <script>
        const webApi = "https://localhost:7240"
        const appVue = new Vue({
            el: "#appVue",
            name: "appVue",
            data: {
                datas: [],
                Id: null,
                account: null,
                password: null,

            },
            mounted: function () {
                let _this = this;

            },
            methods: {
                Signin: function () {
                    let _this = this;
                    var inf = {};
                    inf.Id = 0;
                    inf.account = _this.account;
                    inf.password = _this.password;
                    axios.post(`${webApi}/api/LoginInformations`, inf)
                        .then(response => {
                            window.location = "/Home/memberLogin";
                        })
                        .catch(err => console.log(err))
                        .finally(console.log('完成'))
                },
            }
        })
    </script>
    }

