<!-- content start -->
<section class="site-section block__18514 pt-4" id="next-section">
    <div class="container h-100">
        <div class="row">
            <!-- leftslide start -->
            <div class="col-lg-7 pay-content mt-5 pt-5 pt-lg-0 mt-lg-0 pb-2">
                <div class="context  w-100 p-3 mb-4">
                    <div class="item row pt-4">
                        <h3 class="display-5 fw-bolder mb-0 col-6 ml-3">付款資訊</h3>
                    </div>
                    <ul class="list-unstyled block__47528 mb-0 ml-4">
                        <div class="row justify-content-left">
                            <span class=" font-weight-bold col-4">訂單編號 Order No.</span>
                            <span class=" align-content-center col-8">22258189646162</span>
                        </div>
                        <div class="row justify-content-left">
                            <span class=" font-weight-bold col-4">購買內容</span>
                            <span class=" align-content-center col-8">Vue.js從入門到入土</span>
                        </div>
                    </ul>
                    <hr />
                    <ul class="list-unstyled block__47528 mb-0 ml-4">
                        <div class="row">
                            <p class="col-11 text-right">單位：新台幣 NT$</p>
                            <p class="font-weight-bold col-11 text-right lead">35000</p>
                        </div>
                    </ul>
                    <hr style="height:2px;color: #e2e2e2;background-color: #e2e2e2; " />
                    <div class="row justify-content-right">
                        <div class="col-12" id="payment-button"></div>
                    </div>
                </div>
            </div>
            <!-- leftslide end -->
        </div>
    </div>
</section>
<!-- content end -->