<div id="appVue">
<section class="section-hero overlay inner-page bg-image " style="background-image: url('/images/hero_1.jpg');"
         id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">文章</h1>
            </div>
        </div>
    </div>
</section>
<!-- home end -->
<!-- <div class="navbar navbar-expand-lg navbar-dark bg-info"> -->
<section class="site-section block__18514 pt-4" id="next-section">
    <div class="container h-100">
        <div class="row justify-content-center">
            <div class="col-lg-8 content mt-3 pt-lg-0 mt-lg-5 pb-2">
                <div class="context w-100 pt-2">
                    <div class="item row pt-4">
                        <div class="col-7">
                                <h3 class="font-weight-bolder col-10">{{datas.articleName}}</h3>
                        </div>
                        <div class="col-5 d-lg-flex row justify-content-end ml-md-0 pr-4">
                            <div class="col-3"></div>
                            <div class="col-9 align-content-end" >
                                @*<script class="t1" type="text/javascript" text-align:right>
                                    var myDate = new Date();
                                    document.write(myDate.toLocaleString())
                                </script>*@
                                {{datas.updateTime}}
                            </div>
                            <div class="col-6 text-end mr-md-3">
                                <a href="#" class="btn btn-primary"><i class="fa-solid fa-pen"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item row px-5">
                        <div class="col-12">
                            <p>{{datas.contents}}

                            </p>
                            <div class="heart"></div>
                        </div>
                    </div>
                    <hr>
                    <div class="col-12">
                        <span>
                            <p>
                                @*此公司的特色就是:年年虧損, 離職率高, 什麼都想做甚麼都不奇怪*@
                                    {{datas.ReplyMessage}}
                            </p>
                        </span>
                            <div>{{datas.Floor}}</div>
                        <hr>
                        <span>
                            <p>
                                好奇 年年虧怎麼還沒倒XD
                            </p>
                        </span>
                        <div>2樓</div>
                        <hr>
                        <span>
                            <p>
                                沒倒是因為2021有個中華電信出資入股，還有新聞很風光，聽說3年要IPO
                                現在兩年過去了,還有一年可以拚,呵呵
                            </p>
                        </span>
                        <div>3樓</div>
                    </div>
                    <hr>
                    <div class="input-group col-12 my-4">
                            <textarea v-model="ReplyMessage" type="text" name="userid" class="form-control mx-2" placeholder="留下你的想法..."></textarea>
                            <button type="submit" class="btn btn-primary b2" @@click="reply">發送</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>


@section Scripts{

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>
    <script>
        const webApi = "https://localhost:7240"
        const appVue = new Vue({
            el: "#appVue", // 綁定位置
            name: "appVue",
            data: {
                datas: [],
                articleName: "",
                contents: "",
                updateTime:"",
                replyarticle: null,
            },
            mounted: function () {
                const _this = this;
                _this.course();
            },
            methods: {
                course: function () {
                    let _this = this;
                    //let getUrlString = location.href;
                    //let url = new URL(getUrlString);
                    let ArticleId = new URL(location.href).searchParams.get('id');
                    axios.get(`${webApi}/api/Platforms/${ArticleId}`)
                        .then(response => {
                            this.datas = response.data[0];
                            console.log(this.datas)
                        })
                        .catch(err => console.log(err))
                        .finally(console.log('完成'))
                },
                reply: function () {
                    let _this = this;
                    var request = {};
                    request.ReplyMessage = _this.ReplyMessage;
                    axios.post(`${webApi}/api/Reply`, request).then(response => {
                        window.location = "/Home/platformArticle";
                    });
                },
            }
        })
    </script>
    }