<section class="section-hero overlay inner-page bg-image" style="background-image: url('/images/hero_1.jpg');"
         id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">論壇討論區</h1>
                <div class="custom-breadcrumbs">
                    <a href="#">Home</a> <span class="mx-2 slash">/</span>
                    <span class="text-white"><strong>About Us</strong></span>
                </div>
            </div>
        </div>
    </div>                      
</section>


<div id="appVue">
    <section class="site-section block__18514 pt-4" id="next-section">
        <div class="container h-100">
            <div class="row">
                <!-- Below is sidebar -->
                <div class="col-xs-12 col-md-10 col-lg-4 mt-lg-5">
                    <nav class="navbar navbar-expand-lg navbar-light pl-lg-5 py-0">
                        <!-- <a class="navbar-brand" href="#">Liya rescue</a> -->
                        <button class="navbar-toggler mb-2" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto flex-column">
                                <li class="nav-item px-1 mx-1">
                                    <div class="head"></div>
                                    <div class="mb-3 border navbar-nav box">
                                        <div class="p-3 w-100">
                                            <figure class="figure ml-2">
                                                <img src="https://picsum.photos/250/250/?random=10"
                                                     class="figure-img img-fuild rounded-circle  w-50  ">
                                                <h3 class="display-6 slide-h3 mt-1">使用者 您好</h3>
                                            </figure>
                                            <div>手機:</div>
                                            <div>信箱:</div>
                                            <div class="item text-end align-content-end mb-0">
                                                <div class="text-right mr-3 fw-bold">
                                                    <a asp-controller="Home" asp-action="memberDetail">
                                                        修改會員資料 <i class="fa-solid fa-chevron-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <hr />
                                            <div>履歷總數：</div>
                                            <div>預設履歷：</div>
                                            <div class="item input-group">
                                                <div class="d-flex">
                                                    <p class="mr-1"> 開放設定：</p>
                                                    <div>
                                                        <div class="input-group-prepend ">
                                                            <input type="radio" name="CV" id="CVON"><span class="font-weight-normal text-body">開放履歷</span>
                                                        </div>
                                                        <div class="input-group-prepend ">
                                                            <input type="radio" name="CV" id="CVOFF"><span class="font-weight-normal text-body">關閉履歷</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-block text-right">
                                                <div class="text-right mr-3 fw-bold">
                                                    <a asp-controller="Home" asp-action="CV">
                                                        瀏覽所有履歷 <i class="fa-solid fa-chevron-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item px-1 mx-1">
                                    <div class="head mt-4 "></div>
                                    <div class="border p-4 box mb-6">
                                        <ul class="list-unstyled block__47528 ">
                                            <li><span class="active h2 ">購買課程</span></li>
                                            <li class="text-left">前往課程頁面學習更多</li>
                                            <div class="w-100 text-center">
                                                <button class="h-50 w-auto btn slide-button btn-lg">
                                                    <a asp-controller="Home" asp-action="courseManage" class="">課程管理</a>
                                                </button>
                                            </div>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item px-1 mx-1">
                                    <div class="head mt-4"></div>
                                    <div class="border p-4 box mb-6 h-auto">
                                        <ul class="list-unstyled block__47528 ">
                                            <li><span class="active h2">廣告</span></li>
                                            <figure class="w-100">
                                                <img src="https://picsum.photos/100/100/?random=10"
                                                     class="float-left mr-3">
                                                <figcaption>
                                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                                    Maxime, corrupti
                                                    distinctio dolore repellat corporis nulla consequuntur nostrum
                                                    laboriosam
                                                    molestiae doloribus perspiciatis totam esse veritatis expedita,
                                                    atque dicta,
                                                    ullam necessitatibus exercitationem.
                                                </figcaption>
                                            </figure>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- </div> -->
                    </nav>
                </div>
                <!-- Above is sidebar -->
                <!-- Content start -->
                <!-- Content start -->
                <div class="col-lg-8 content mt-3 pt-lg-0 mt-lg-5 pb-2">
                    <div class="context  w-100 p-3 mb-4">
                        <div class="item row pt-4">
                            <div class="col-12 justify-content-between">
                                <li class="d-flex justify-content-between">
                                    <form action="" class="fly-search">
                                        <input class="layui-input" autocomplete="off" placeholder="搜索内容" type="text" name="q">
                                    </form>
                                    <a asp-controller="Home" asp-action="platformPost" class="btn btn-primary">發文分享<i class="fa-solid fa-pen mx-2"></i></a>
                                </li>
                            </div>
                            <div class="col-12 py-5">
                                <ul class="fly-list">
                                    <li class="d-flex justify-content-between" v-for="data in datas">
                                        <div>
                                            <h4 class="fly-tip">
                                                <a class="a1" asp-controller="Home" asp-action="platformArticle">{{data.articleName}}</a>
                                            </h4>
                                        </div>
                                        <div>
                                            <p>
                                                <span>
                                                   Date
                                                </span>
                                                <span class="fly-list-hint">
                                                    <i class="un" title="回答">💬3</i>
                                                </span>
                                            </p>
                                        </div>
                                    </li>
                                    <hr>
                                    <li class="d-flex justify-content-between">
                                        <div>
                                            <h4 class="fly-tip">
                                                <a class="a1" asp-controller="Home" asp-action="platformArticle">奧斯曼數位行銷有限公司</a>
                                            </h4>
                                        </div>
                                        <div>
                                            <p>
                                                <span>30分钟前</span>
                                                <span class="fly-list-hint">
                                                    <i class="un" title="回答">💬3</i>
                                                </span>
                                            </p>
                                        </div>
                                    </li>
                                    <hr>
                                    <li class="d-flex justify-content-between">
                                        <div>
                                            <h4 class="fly-tip">
                                                <a class="a1" asp-controller="Home" asp-action="platformArticle">緯謙科技股份有限公司</a>
                                            </h4>
                                        </div>
                                        <div>
                                            <p>
                                                <span>30分钟前</span>
                                                <span class="fly-list-hint">
                                                    <i class="un" title="回答">💬3</i>
                                                </span>
                                            </p>
                                        </div>
                                    </li>
                                    <hr>
                                    <li class="d-flex justify-content-between">
                                        <div>
                                            <h4 class="fly-tip">
                                                <a class="a1" asp-controller="Home" asp-action="platformArticle">奧斯曼數位行銷有限公司</a>
                                            </h4>
                                        </div>
                                        <div>
                                            <p>
                                                <span>30分钟前</span>
                                                <span class="fly-list-hint">
                                                    <i class="un" title="回答">💬3</i>
                                                </span>
                                            </p>
                                        </div>
                                    </li>
                                    <hr>
                                    <li class="d-flex justify-content-between">
                                        <div>
                                            <h4 class="fly-tip">
                                                <a class="a1" asp-controller="Home" asp-action="platformArticle">緯謙科技股份有限公司</a>
                                            </h4>
                                        </div>
                                        <div>
                                            <p>
                                                <span>30分钟前</span>
                                                <span class="fly-list-hint">
                                                    <i class="un" title="回答">💬3</i>
                                                </span>
                                            </p>
                                        </div>
                                    </li>
                                    <hr>
                                    <li class="d-flex justify-content-between">
                                        <div>
                                            <h4 class="fly-tip">
                                                <a class="a1" asp-controller="Home" asp-action="platformArticle">奧斯曼數位行銷有限公司</a>
                                            </h4>
                                        </div>
                                        <div>
                                            <p>
                                                <span>30分钟前</span>
                                                <span class="fly-list-hint">
                                                    <i class="un" title="回答">💬3</i>
                                                </span>
                                            </p>
                                        </div>
                                    </li>
                                    <hr>
                                    <li class="d-flex justify-content-between">
                                        <div>
                                            <h4 class="fly-tip">
                                                <a class="a1" asp-controller="Home" asp-action="platformArticle">緯謙科技股份有限公司</a>
                                            </h4>
                                        </div>
                                        <div>
                                            <p>
                                                <span>30分钟前</span>
                                                <span class="fly-list-hint">
                                                    <i class="un" title="回答">💬3</i>
                                                </span>
                                            </p>
                                        </div>
                                    </li>
                                    <hr>
                                    <li class="d-flex justify-content-between">
                                        <div>
                                            <h4 class="fly-tip">
                                                <a class="a1" asp-controller="Home" asp-action="platformArticle">奧斯曼數位行銷有限公司</a>
                                            </h4>
                                        </div>
                                        <div>
                                            <p>
                                                <span>30分钟前</span>
                                                <span class="fly-list-hint">
                                                    <i class="un" title="回答">💬3</i>
                                                </span>
                                            </p>
                                        </div>
                                    </li>
                                    <hr>
                                    <li class="d-flex justify-content-between">
                                        <div>
                                            <h4 class="fly-tip">
                                                <a class="a1" asp-controller="Home" asp-action="platformArticle">緯謙科技股份有限公司</a>
                                            </h4>
                                        </div>
                                        <div>
                                            <p>
                                                <span>30分钟前</span>
                                                <span class="fly-list-hint">
                                                    <i class="un" title="回答">💬3</i>
                                                </span>
                                            </p>
                                        </div>
                                    </li>
                                    <hr>
                                    <li class="d-flex justify-content-between">
                                        <div>
                                            <h4 class="fly-tip">
                                                <a class="a1" asp-controller="Home" asp-action="platformArticle">奧斯曼數位行銷有限公司</a>
                                            </h4>
                                        </div>
                                        <div>
                                            <p>
                                                <span>30分钟前</span>
                                                <span class="fly-list-hint">
                                                    <i class="un" title="回答">💬3</i>
                                                </span>
                                            </p>
                                        </div>
                                    </li>
                                    <hr>
                                    <li class="d-flex justify-content-between">
                                        <div>
                                            <h4 class="fly-tip">
                                                <a class="a1" asp-controller="Home" asp-action="platformArticle">緯謙科技股份有限公司</a>
                                            </h4>
                                        </div>
                                        <div>
                                            <p>
                                                <span>30分钟前</span>
                                                <span class="fly-list-hint">
                                                    <i class="un" title="回答">💬3</i>
                                                </span>
                                            </p>
                                        </div>
                                    </li>
                                    <hr>
                                    <li class="d-flex justify-content-between">
                                        <div>
                                            <h4 class="fly-tip">
                                                <a class="a1" asp-controller="Home" asp-action="platformArticle">奧斯曼數位行銷有限公司</a>
                                            </h4>
                                        </div>
                                        <div>
                                            <p>
                                                <span>30分钟前</span>
                                                <span class="fly-list-hint">
                                                    <i class="un" title="回答">💬3</i>
                                                </span>
                                            </p>
                                        </div>
                                    </li>
                                    <hr>
                                    <li class="d-flex justify-content-between">
                                        <div>
                                            <h4 class="fly-tip">
                                                <a class="a1" asp-controller="Home" asp-action="platformArticle">緯謙科技股份有限公司</a>
                                            </h4>
                                        </div>
                                        <div>
                                            <p>
                                                <span>30分钟前</span>
                                                <span class="fly-list-hint">
                                                    <i class="un" title="回答">💬3</i>
                                                </span>
                                            </p>
                                        </div>
                                    </li>
                                    <hr>
                                    <li class="d-flex justify-content-between">
                                        <div>
                                            <h4 class="fly-tip">
                                                <a class="a1" asp-controller="Home" asp-action="platformArticle">奧斯曼數位行銷有限公司</a>
                                            </h4>
                                        </div>
                                        <div>
                                            <p>
                                                <span>30分钟前</span>
                                                <span class="fly-list-hint">
                                                    <i class="un" title="回答">💬3</i>
                                                </span>
                                            </p>
                                        </div>
                                    </li>
                                    <hr>
                                </ul>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- content end -->
@section Scripts{

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>
    <script>
        const webApi = "https://localhost:7240"
        const appVue = new Vue({
            el: "#appVue",
            name: "appVue",
            data: {
                datas: [],
                inputvalue: "", //第八行
            },
            mounted: function () {
                let _this = this;
                _this.Platforms();
            },
            methods: {
                Platforms: function () {
                    let _this = this;
                    axios.get(`${webApi}/api/Platforms`)
                        .then(response => {
                            appVue.datas = response.data;
                            console.log(_this.datas);
                        })
                        .catch(err => console.log(err))
                        .finally(console.log('完成'))
                },
                add() {
                    const _this = this;
                    if (this.inputvalue) {
                        let ans = _this.inputvalue.replace(/[\W_]+/g, "")
                        axios.get(`${webApi}/api/Vacancies/${ans}`)
                            .then(res => {
                                console.log(res.data);
                            })
                        console.log(ans);
                        $('input').blur();
                    } else {
                        $('input').blur();
                    }
                },
            }
    </script>
    }
