    <!-- HOME start-->
<div id="appVue">
    <section class="section-hero overlay inner-page bg-image " style="background-image: url('/images/hero_1.jpg');"
             id="home-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="text-white font-weight-bold">文章分享</h1>
                </div>
            </div>

        </div>
    </section>
    <section class="site-section block__18514 pt-4" id="next-section">
        <div class="container h-100">
            <div class="row">
                <!-- Below is sidebar -->
                <div class="col-xs-12 col-md-10 col-lg-4 mt-lg-5">
                    <nav class="navbar navbar-expand-lg navbar-light pl-lg-5 py-0">
                        <!-- <a class="navbar-brand" href="#">Liya rescue</a> -->
                        <button class="navbar-toggler mb-2" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto flex-column">
                                <li class="nav-item px-1 mx-1">
                                    <div class="head"></div>
                                    <div class="mb-3 border navbar-nav box">
                                        <div class="p-3 w-100">
                                            <figure class="figure ml-2">
                                                <img src="https://picsum.photos/250/250/?random=10"
                                                     class="figure-img img-fuild rounded-circle  w-50  ">
                                                <h3 class="display-6 slide-h3 mt-1">使用者 您好</h3>
                                            </figure>
                                            <div>手機:</div>
                                            <div>信箱:</div>
                                            <div class="item text-end align-content-end mb-0">
                                                <div class="text-right mr-3 fw-bold">
                                                    <a asp-controller="Home" asp-action="memberDetail">
                                                        修改會員資料 <i class="fa-solid fa-chevron-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <hr />
                                            <div>履歷總數：</div>
                                            <div>預設履歷：</div>
                                            <div class="item input-group">
                                                <div class="d-flex">
                                                    <p class="mr-1"> 開放設定：</p>
                                                    <div>
                                                        <div class="input-group-prepend ">
                                                            <input type="radio" name="CV" id="CVON"><span class="font-weight-normal text-body">開放履歷</span>
                                                        </div>
                                                        <div class="input-group-prepend ">
                                                            <input type="radio" name="CV" id="CVOFF"><span class="font-weight-normal text-body">關閉履歷</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-block text-right">
                                                <div class="text-right mr-3 fw-bold">
                                                    <a asp-controller="Home" asp-action="CV">
                                                        瀏覽所有履歷 <i class="fa-solid fa-chevron-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item px-1 mx-1">
                                    <div class="head mt-4 "></div>
                                    <div class="border p-4 box mb-6">
                                        <ul class="list-unstyled block__47528 ">
                                            <li><span class="active h2 ">購買課程</span></li>
                                            <li class="text-left">前往課程頁面學習更多</li>
                                            <div class="w-100 text-center">
                                                <button class="h-50 w-auto btn slide-button btn-lg">
                                                    <a asp-controller="Home" asp-action="courseDetail"
                                                       class="">課程管理</a>
                                                </button>
                                            </div>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item px-1 mx-1 mb-5">
                                    <div class="head mt-4"></div>
                                    <div class="border p-4 box mb-6 h-auto">
                                        <ul class="list-unstyled block__47528 ">
                                            <li><span class="active h2">廣告</span></li>
                                            <figure class="w-100">
                                                <img src="https://picsum.photos/100/100/?random=10" class="float-left mr-3">
                                                <figcaption>
                                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                                    Maxime, corrupti
                                                    distinctio dolore repellat corporis nulla consequuntur nostrum
                                                    laboriosam
                                                    molestiae doloribus perspiciatis totam esse veritatis expedita,
                                                    atque dicta,
                                                    ullam necessitatibus exercitationem.
                                                </figcaption>
                                            </figure>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- </div> -->
                    </nav>
                    <!-- Above is sidebar -->

                </div>

                <section class="site-section col-lg-8 content mt-3 pt-lg-0 mt-lg-5 pb-2">
                    <div class="container ">
                        <div class="row mb-5  ">
                            <!--The first article-->
                            <div class="col-md-6 col-lg-4 mb-5 " v-for="data in datalist">
                                <a v-bind:href="'https://localhost:7158/Home/sourcePage?id='+data.articleId"><img :src="data.img" alt="Image" class="img-fluid rounded mb-4" /></a>

                                </a>
                                <h3>
                                    <a v-bind:href="'https://localhost:7158/Home/sourcePage?id='+data.articleId" class="text-black">{{data.title}}</a>
                                </h3>
                                <div>{{data.update}} <span class="mx-2">|</span> <a href="#">{{data.author}}</a></div>
                            </div>
                            <!--Article finish-->
                        </div>
                        <div class="row pagination-wrap mt-5">
                            <div class="col-md-12 text-center">
                                <div class="custom-pagination ml-auto">
                                    <a href="#" class="prev" >Prev</a>
                                    <div class="d-inline-block" v-for="item in sliced">
                                        <!--算頁數-->
                                        <a href="#" class="active" v-if="currentpage == item" @@click="click(item)">{{item + 1}}</a>
                                        <a href="#" v-else @@click="click(item)">{{item + 1}}</a>
                                    </div>
                                    <a href="#" class="next" >Next</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
    </section>
</div>
@section Scripts{

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>
    <script>
        const webApi = "https://localhost:7240"
        const appVue = new Vue({
            el: "#appVue",
            name: "appVue",
            data: {
                datalist: [],
                pageData: [],
                dataLength: 0,//資料長度
                pagesize: 0, //頁數
                sliced: [], //切分頁
                currentpage: 0
            },
            mounted: function () {
                let _this = this;
                _this.Source();
            },
            methods: {
                Source: function () {
                    let _this = this;
                    let item = 0;
                    axios.get(`${webApi}/api/Articles`)
                        .then(response => {
                            //appVue.datas = response.data;
                            this.dataLength = response.data.length;
                            console.log(response.data); //8筆
                            this.PageContent();
                            let arr = [];

                            // 一頁n筆資料 , n = 6為例
                            // 第一頁 1  - 6 ,  0  < 5    第一頁 => item = 0   , item * 6   <  (item + 1) * 6 => 0 < 6
                            // 第二頁 6  - 10,  5  < 10   第二頁 => item = 1   , item * 6   <  (item + 1) * 6 => 6 < 12　
                            // 第三頁 11 - 15,  10 < 15   第三頁 => item = 2   , item * 6   <  (item + 1) * 6 => 12 < 18

                            for (let i = item * 6; i < (item + 1) * 6; i++) {
                                let item = {};
                                item = response.data[i];//6筆
                                arr.push(item);
                            }
                            this.datalist = arr;
                            console.log(this.datalist)//6筆
                        })
                        .catch(err => console.log(err))
                        .finally(console.log('完成'))
                },
                PageContent: function () { // 頁數長度
                    this.pagesize = Math.ceil(this.dataLength / 6); //無條件進位
                    for (let i = 0; i < this.pagesize; i++) {
                        this.sliced[i] = i;
                    }//[0,1]
                },
                click: function (item) {
                    let currnetpage = item ;
                    this.currentpage = currnetpage;
                    axios.get(`${webApi}/api/Articles`)
                        .then(response => {
                            this.datalist = [];
                            this.dataLength = response.data.length;
                            console.log(response.data); //8筆
                            this.PageContent();
                            let arr = [];
                            let item = {};
                            if (this.pagesize == (currnetpage + 1)) {
                                for (let i = currnetpage * 6; i < response.data.length; i++) {
                                    item = response.data[i];//6筆
                                    arr.push(item);
                                }
                            } else {
                                for (let i = currnetpage * 6; i < (currnetpage + 1) * 6; i++) {
                                    item = response.data[i];//6筆
                                    arr.push(item);
                                }
                            }
                            this.datalist = arr;
                            console.log(this.datalist)//6筆
                        })
                }
                //Pagination: function () {
                //    this.sliced = this.datas.slice((this.currentpage * this.pagesize) - this.pagesize, (this.currentpage * this.pagesize))
                //}
            }
        })
    </script>
    }