<!-- HOME start-->
<section class="section-hero overlay inner-page bg-image" style="background-image: url('images/hero_1.jpg')"
         id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">工作世界</h1>
           @*     <div class="custom-breadcrumbs">
                    <a href="#">Tips</a> <span class="mx-2 slash">/</span>
                    <span class="text-white"><strong>最下面有留div，可自己改成想要的內容</strong></span>
                </div>*@
            </div>
        </div>
    </div>
</section>
<!-- home end -->
<!-- content start -->

<section class="site-section block__18514 pt-4" id="next-section">
    <div class="container h-100">
        <div class="d-lg-flex row">
            <!-- Below is sidebar -->
            <div class="col-xs-12 col-md-10 col-lg-4 mt-lg-5">
                <nav class="navbar navbar-expand-lg navbar-light pl-lg-5 py-0">
                    <!-- <a class="navbar-brand" href="#">Liya rescue</a> -->
                    <button class="navbar-toggler mb-2" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto flex-column">
                            <li class="nav-item px-1 mx-1">
                                <div class="head"></div>
                                <div class="mb-3 border navbar-nav box">
                                    <div class="p-3 w-100">
                                        <figure class="figure ml-2">
                                            <img src="https://picsum.photos/250/250/?random=10"
                                                 class="figure-img img-fuild rounded-circle  w-50  ">
                                            <h3 class="display-6 slide-h3 mt-1">使用者 您好</h3>
                                        </figure>
                                        <div>手機:</div>
                                        <div>信箱:</div>
                                        <div class="item text-end align-content-end mb-0">
                                            <div class="text-right mr-3 fw-bold">
                                                <a asp-controller="Home" asp-action="memberDetail">
                                                    修改會員資料 <i class="fa-solid fa-chevron-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <hr />
                                        <div>履歷總數：</div>
                                        <div>預設履歷：</div>
                                        <div class="item input-group">
                                            <div class="d-flex">
                                                <p class="mr-1"> 開放設定：</p>
                                                <div>
                                                    <div class="input-group-prepend ">
                                                        <input type="radio" name="CV" id="CVON"><span class="font-weight-normal text-body">開放履歷</span>
                                                    </div>
                                                    <div class="input-group-prepend ">
                                                        <input type="radio" name="CV" id="CVOFF"><span class="font-weight-normal text-body">關閉履歷</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-block text-right">
                                            <div class="text-right mr-3 fw-bold">
                                                <a asp-controller="Home" asp-action="CV">
                                                    瀏覽所有履歷 <i class="fa-solid fa-chevron-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item px-1 mx-1">
                                <div class="head mt-4 "></div>
                                <div class="border p-4 box mb-6">
                                    <ul class="list-unstyled block__47528 ">
                                        <li><span class="active h2 ">購買課程</span></li>
                                        <li class="text-left">前往課程頁面學習更多</li>
                                        <div class="w-100 text-center">
                                            <button class="h-50 w-auto btn slide-button btn-lg">
                                                <a asp-controller="Home" asp-action="courseDetail"
                                                   class="">課程管理</a>
                                            </button>
                                        </div>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item px-1 mx-1 mb-5">
                                <div class="head mt-4"></div>
                                <div class="border p-4 box mb-6 h-auto">
                                    <ul class="list-unstyled block__47528 ">
                                        <li><span class="active h2">廣告</span></li>
                                        <figure class="w-100">
                                            <img src="https://picsum.photos/100/100/?random=10" class="float-left mr-3">
                                            <figcaption>
                                                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                                Maxime, corrupti
                                                distinctio dolore repellat corporis nulla consequuntur nostrum
                                                laboriosam
                                                molestiae doloribus perspiciatis totam esse veritatis expedita,
                                                atque dicta,
                                                ullam necessitatibus exercitationem.
                                            </figcaption>
                                        </figure>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- </div> -->
                </nav>
                <!-- Above is sidebar -->
            </div>
            <div class="col-lg-8 content mt-3 pt-lg-0 mt-lg-5 pb-2">
                <div class="row justify-content-center">
                    <h3 class="font-weight-bold mb-3 ml-3 text-center">工作世界</h3>
                    <div class="text-center mt-3 row justify-content-center">
                        <figure class="col-lg-3 col-md-4 col-12 border mx-3">
                            <a href="#"><img src="~/images/img_1.jpg" class="img-fluid" /></a>
                        </figure>
                        <figure class="col-lg-3 col-md-4 col-12 border mx-3">
                            <a href="#"><img src="~/images/img_1.jpg" class="img-fluid" /></a>
                        </figure>
                        <figure class="col-lg-3 col-md-4 col-12 border mx-3">
                            <a href="#"><img src="~/images/img_1.jpg" class="img-fluid" /></a>
                        </figure>

                        <!-- <a href="#"><img src="/蠟筆小新.jpeg" class="col-lg-3 col-md-4 col-12 border mx-3" /></a>
                        <a href="#"><img src="/蠟筆小新.jpeg" class="col-lg-3 col-md-4 col-12 border mx-3" /></a> -->
                    </div>
                </div>
                <div class=" mt-5">
                    <h3 class="font-weight-bold my-4 ml-3 text-center">職場趨勢</h3>
                    <div class="row justify-content-center">
                        <div class="d-lg-flex ms-row justify-content-center">
                            <div class="col-lg-4 col-md-8 col-12 ml-2 border">
                                <p class="h5 mt-3">新鮮人工作數佔比</p>
                                <p>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo aspernatur rerum
                                    recusandae natus tenetur doloribus nihil, expedita deserunt dolorum omnis et
                                </p>
                            </div>
                            <div class=" col-lg-4 col-md-8 col-12 ml-2 border">
                                <p class="h5 mt-3">每人分配工作數</p>
                                <p>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo aspernatur rerum
                                    recusandae natus tenetur doloribus nihil, expedita deserunt dolorum omnis et
                                </p>
                            </div>
                            <div class=" col-lg-4 col-md-8 col-12 ml-2 border">
                                <p class="h5 mt-3">總工作數</p>
                                <p>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo aspernatur rerum
                                    recusandae natus tenetur doloribus nihil, expedita deserunt dolorum omnis et
                                </p>
                            </div>
                            <!-- <div class="border mx-3 col">
                              <p class="h5 mt-3">新鮮人起薪</p>
                              <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo aspernatur rerum
                                recusandae natus tenetur doloribus nihil, expedita deserunt dolorum omnis et
                              </p>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="mt-5 mb-5 row justify-content-center">
                    <h3 class="font-weight-bold mb-3 ml-3 text-center">職場體驗</h3>
                    <div class="row">
                        <iframe class="mx-auto" width="250" height="120" src="https://www.youtube.com/embed/3QBRmpbuF_I"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                        <iframe class="mx-auto" width="250" height="120" src="https://www.youtube.com/embed/3QBRmpbuF_I"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                        <iframe class="mx-auto" width="250" height="120" src="https://www.youtube.com/embed/3QBRmpbuF_I"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- content end -->
