<section class="home-section section-hero overlay bg-image"
         style="background-image: url('')"
         id="home-section">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-12">
                <div class="mb-5 text-center">
                    <h1 class="text-white font-weight-bold">The Easiest Way To Get Your Dream Job</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate est,
                        consequuntur perferendis.
                    </p>
                </div>
                <form method="post" class="search-jobs-form">
                    <div class="row mb-5">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                            <input type="text"
                                   class="form-control form-control-lg"
                                   placeholder="Job title, Company..." />
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                            <select class="selectpicker"
                                    data-style="btn-white btn-lg"
                                    data-width="100%"
                                    data-live-search="true"
                                    title="Select Region">
                                <option>Anywhere</option>
                                <option>San Francisco</option>
                                <option>Palo Alto</option>
                                <option>New York</option>
                                <option>Manhattan</option>
                                <option>Ontario</option>
                                <option>Toronto</option>
                                <option>Kansas</option>
                                <option>Mountain View</option>
                            </select>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                            <select class="selectpicker"
                                    data-style="btn-white btn-lg"
                                    data-width="100%"
                                    data-live-search="true"
                                    title="Select Job Type">
                                <option>Part Time</option>
                                <option>Full Time</option>
                            </select>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                            <button type="submit"
                                    class="btn btn-primary btn-lg btn-block text-white btn-search">
                                <span class="icon-search icon mr-2"></span>Search Job
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 popular-keywords">
                            <h3>Trending Keywords:</h3>
                            <ul class="keywords list-unstyled m-0 p-0">
                                <li><a href="#" class="">UI Designer</a></li>
                                <li><a href="#" class="">Python</a></li>
                                <li><a href="#" class="">Developer</a></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <a href="#next" class="scroll-button smoothscroll">
        <span class="icon-keyboard_arrow_down"></span>
    </a>
</section>

<section class="py-5 bg-image overlay-primary fixed overlay"
         id="next"
         style="background-image: url('/images/hero_1.jpg')">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-7 text-center">
                <h2 class="section-title mb-2 text-white">JobBoard Site Stats</h2>
                <p class="lead text-white">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita unde officiis
                    recusandae sequi excepturi corrupti.
                </p>
            </div>
        </div>
        <div class="row pb-0 block__19738 section-counter">
            <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
                <div class="d-flex align-items-center justify-content-center mb-2">
                    <strong class="number" data-number="1930">0</strong>
                </div>
                <span class="caption">Candidates</span>
            </div>

            <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
                <div class="d-flex align-items-center justify-content-center mb-2">
                    <strong class="number" data-number="54">0</strong>
                </div>
                <span class="caption">Jobs Posted</span>
            </div>

            <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
                <div class="d-flex align-items-center justify-content-center mb-2">
                    <strong class="number" data-number="120">0</strong>
                </div>
                <span class="caption">Jobs Filled</span>
            </div>

            <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
                <div class="d-flex align-items-center justify-content-center mb-2">
                    <strong class="number" data-number="550">0</strong>
                </div>
                <span class="caption">Companies</span>
            </div>
        </div>
    </div>
</section>

<div class="container mt-5">
    <div class="row mb-5 justify-content-center">
        <div class="col-md-7 text-center">
            。
            <h2 class="section-title mb-2">行業別</h2>
        </div>
    </div>
    <div class="row d-flex text-center">
        <div class="col col-md-3"><img src="~/images/Triangle_LOGO.jpeg" alt="" srcset="" class="w-50" /></div>
        <div class="col col-md-3"><img src="~/images/Triangle_LOGO.jpeg" alt="" srcset="" class="w-50" /></div>
        <div class="col col-md-3"><img src="~/images/Triangle_LOGO.jpeg" alt="" srcset="" class="w-50" /></div>
        <div class="col col-md-3"><img src="~/images/Triangle_LOGO.jpeg" alt="" srcset="" class="w-50" /></div>
        <div class="w-100"></div>
        <div class="col col-md-3"><img src="~/images/Triangle_LOGO.jpeg" alt="" srcset="" class="w-50" /></div>
        <div class="col col-md-3"><img src="~/images/Triangle_LOGO.jpeg" alt="" srcset="" class="w-50" /></div>
        <div class="col col-md-3"><img src="~/images/Triangle_LOGO.jpeg" alt="" srcset="" class="w-50" /></div>
        <div class="col col-md-3"><img src="~/images/Triangle_LOGO.jpeg" alt="" srcset="" class="w-50" /></div>
    </div>

    <div class="row pagination-wrap mt-3">
        <div class="col-md-6 text-center text-md-left mb-4 mb-md-0">
            <span>Showing 1-7 Of 43,167 Jobs</span>
        </div>
        <div class="col-md-6 text-center text-md-right">
            <div class="custom-pagination ml-auto">
                <a href="#" class="prev">Prev</a>
                <div class="d-inline-block">
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                </div>
                <a href="#" class="next">Next</a>
            </div>
        </div>
    </div>
    <hr />
    <div id="popularJob" class="row justify-content-center mt-5">
        <h2 class="font-weight-bold mb-3">熱門工作</h2>
        <div class="owl-carousel owl-theme mx-lg-5">
            <div class="item border">
                <div id="location" class="ml-2 mt-1 mb-3">
                    高雄市 XX區
                    <button class="">推薦</button>
                </div>
                <div class="h3 ml-1 font-weight-bold text-black">啃雞雞榨雞濕</div>
                <div class="ml-1 text-black">啃雞雞有限公濕</div>
                <div class="ml-1 text-black">月薪兩億精</div>
                <hr />
                <a href="#" class="ml-1">我要硬了>></a>
            </div>
            <div class="item border">
                <div id="location" class="ml-2 mt-1 mb-3">
                    高雄市 XX區
                    <button class="">推薦</button>
                </div>
                <div class="h3 ml-1 font-weight-bold text-black">啃雞雞榨雞濕</div>
                <div class="ml-1 text-black">啃雞雞有限公濕</div>
                <div class="ml-1 text-black">月薪兩億精</div>
                <hr />
                <a href="#" class="ml-1">我要硬了>></a>
            </div>
            <div class="item border">
                <div id="location" class="ml-2 mt-1 mb-3">
                    高雄市 XX區
                    <button class="">推薦</button>
                </div>
                <div class="h3 ml-1 font-weight-bold text-black">啃雞雞榨雞濕</div>
                <div class="ml-1 text-black">啃雞雞有限公濕</div>
                <div class="ml-1 text-black">月薪兩億精</div>
                <hr />
                <a href="#" class="ml-1">我要硬了>></a>
            </div>
            <div class="item border">
                <div id="location" class="ml-2 mt-1 mb-3">
                    高雄市 XX區
                    <button class="">推薦</button>
                </div>
                <div class="h3 ml-1 font-weight-bold text-black">啃雞雞榨雞濕</div>
                <div class="ml-1 text-black">啃雞雞有限公濕</div>
                <div class="ml-1 text-black">月薪兩億精</div>
                <hr />
                <a href="#" class="ml-1">我要硬了>></a>
            </div>
            <div class="item border">
                <div id="location" class="ml-2 mt-1 mb-3">
                    高雄市 XX區
                    <button class="">推薦</button>
                </div>
                <div class="h3 ml-1 font-weight-bold text-black">啃雞雞榨雞濕</div>
                <div class="ml-1 text-black">啃雞雞有限公濕</div>
                <div class="ml-1 text-black">月薪兩億精</div>
                <hr />
                <a href="#" class="ml-1">我要硬了>></a>
            </div>
            <div class="item border">
                <div id="location" class="ml-2 mt-1 mb-3">
                    高雄市 XX區
                    <button class="">推薦</button>
                </div>
                <div class="h3 ml-1 font-weight-bold text-black">啃雞雞榨雞濕</div>
                <div class="ml-1 text-black">啃雞雞有限公濕</div>
                <div class="ml-1 text-black">月薪兩億精</div>
                <hr />
                <a href="#" class="ml-1">我要硬了>></a>
            </div>
            <div class="item border">
                <div id="location" class="ml-2 mt-1 mb-3">
                    高雄市 XX區
                    <button class="">推薦</button>
                </div>
                <div class="h3 ml-1 font-weight-bold text-black">啃雞雞榨雞濕</div>
                <div class="ml-1 text-black">啃雞雞有限公濕</div>
                <div class="ml-1 text-black">月薪兩億精</div>
                <hr />
                <a href="#" class="ml-1">我要硬了>></a>
            </div>
            <div class="item border">
                <div id="location" class="ml-2 mt-1 mb-3">
                    高雄市 XX區
                    <button class="">推薦</button>
                </div>
                <div class="h3 ml-1 font-weight-bold text-black">啃雞雞榨雞濕</div>
                <div class="ml-1 text-black">啃雞雞有限公濕</div>
                <div class="ml-1 text-black">月薪兩億精</div>
                <hr />
                <a href="#" class="ml-1">我要硬了>></a>
            </div>
            <div class="item border">
                <div id="location" class="ml-2 mt-1 mb-3">
                    高雄市 XX區
                    <button class="">推薦</button>
                </div>
                <div class="h3 ml-1 font-weight-bold text-black">啃雞雞榨雞濕</div>
                <div class="ml-1 text-black">啃雞雞有限公濕</div>
                <div class="ml-1 text-black">月薪兩億精</div>
                <hr />
                <a href="#" class="ml-1">我要硬了>></a>
            </div>
        </div>
    </div>
    <hr />
    <div id="popularJob" class="row justify-content-center mt-5">
        <h2 class="font-weight-bold mb-3">推薦課程</h2>
        <div class="owl-carousel owl-theme mx-lg-5">
            <div class="item border shadow" style="border-radius: 20px">
                <img style="border-top-left-radius: 20px; border-top-right-radius: 20px"
                     src="~/images/WordisBIG.png" />
                <div class="font-weight-bold text-black h3 mt-2 ml-2">Word is BIG</div>
                <div class="h6 text-info text-right mr-2">$81000</div>
                <hr />
                <div class="h6 px-2">
                    我的很大，你忍一下，我的很大，你忍一下，我的很大，你忍一下，我的很大，你忍一下，我的很大，你忍一下
                </div>
            </div>
            <div class="item border shadow" style="border-radius: 20px">
                <img style="border-top-left-radius: 20px; border-top-right-radius: 20px"
                     src="~/images/WordisBIG.png" />
                <div class="font-weight-bold text-black h3 mt-2 ml-2">Word is BIG</div>
                <div class="h6 text-info text-right mr-2">$81000</div>
                <hr />
                <div class="h6 px-2">
                    我的很大，你忍一下，我的很大，你忍一下，我的很大，你忍一下，我的很大，你忍一下，我的很大，你忍一下
                </div>
            </div>
            <div class="item border shadow" style="border-radius: 20px">
                <img style="border-top-left-radius: 20px; border-top-right-radius: 20px"
                     src="~/images/WordisBIG.png" />
                <div class="font-weight-bold text-black h3 mt-2 ml-2">Word is BIG</div>
                <div class="h6 text-info text-right mr-2">$81000</div>
                <hr />
                <div class="h6 px-2">
                    我的很大，你忍一下，我的很大，你忍一下，我的很大，你忍一下，我的很大，你忍一下，我的很大，你忍一下
                </div>
            </div>
            <div class="item border shadow" style="border-radius: 20px">
                <img style="border-top-left-radius: 20px; border-top-right-radius: 20px"
                     src="~/images/WordisBIG.png" />
                <div class="font-weight-bold text-black h3 mt-2 ml-2">Word is BIG</div>
                <div class="h6 text-info text-right mr-2">$81000</div>
                <hr />
                <div class="h6 px-2">
                    我的很大，你忍一下，我的很大，你忍一下，我的很大，你忍一下，我的很大，你忍一下，我的很大，你忍一下
                </div>
            </div>
            <div class="item border shadow" style="border-radius: 20px">
                <img style="border-top-left-radius: 20px; border-top-right-radius: 20px"
                     src="~/images/WordisBIG.png" />
                <div class="font-weight-bold text-black h3 mt-2 ml-2">Word is BIG</div>
                <div class="h6 text-info text-right mr-2">$81000</div>
                <hr />
                <div class="h6 px-2">
                    我的很大，你忍一下，我的很大，你忍一下，我的很大，你忍一下，我的很大，你忍一下，我的很大，你忍一下
                </div>
            </div>
            <div class="item border shadow" style="border-radius: 20px">
                <img style="border-top-left-radius: 20px; border-top-right-radius: 20px"
                     src="~/images/WordisBIG.png" />
                <div class="font-weight-bold text-black h3 mt-2 ml-2">Word is BIG</div>
                <div class="h6 text-info text-right mr-2">$81000</div>
                <hr />
                <div class="h6 px-2">
                    我的很大，你忍一下，我的很大，你忍一下，我的很大，你忍一下，我的很大，你忍一下，我的很大，你忍一下
                </div>
            </div>
            <div class="item border shadow" style="border-radius: 20px">
                <img style="border-top-left-radius: 20px; border-top-right-radius: 20px"
                     src="~/images/WordisBIG.png" />
                <div class="font-weight-bold text-black h3 mt-2 ml-2">Word is BIG</div>
                <div class="h6 text-info text-right mr-2">$81000</div>
                <hr />
                <div class="h6 px-2">
                    我的很大，你忍一下，我的很大，你忍一下，我的很大，你忍一下，我的很大，你忍一下，我的很大，你忍一下
                </div>
            </div>
            <div class="item border shadow" style="border-radius: 20px">
                <img style="border-top-left-radius: 20px; border-top-right-radius: 20px"
                     src="~/images/WordisBIG.png" />
                <div class="font-weight-bold text-black h3 mt-2 ml-2">Word is BIG</div>
                <div class="h6 text-info text-right mr-2">$81000</div>
                <hr />
                <div class="h6 px-2">
                    我的很大，你忍一下，我的很大，你忍一下，我的很大，你忍一下，我的很大，你忍一下，我的很大，你忍一下
                </div>
            </div>
            <div class="item border shadow" style="border-radius: 20px">
                <img style="border-top-left-radius: 20px; border-top-right-radius: 20px"
                     src="~/images/WordisBIG.png" />
                <div class="font-weight-bold text-black h3 mt-2 ml-2">Word is BIG</div>
                <div class="h6 text-info text-right mr-2">$81000</div>
                <hr />
                <div class="h6 px-2">
                    我的很大，你忍一下，我的很大，你忍一下，我的很大，你忍一下，我的很大，你忍一下，我的很大，你忍一下
                </div>
            </div>
        </div>
    </div>
    <hr />
    <section id="internetForum">
        <h2 class="text-center font-weight-bold mt-lg-5 mb-lg-3">論壇熱門</h2>
        <div class="row">
            <div class="col-sm-12 col-lg-6 mb-sm-4">
                <img src="~/images/WordisBIG.png" class="mb-2 img-fluid" style="border-radius: 15px" />
                <h3 class="font-weight-bold">加入我們，即刻入住陶珠尹元</h3>
                <p class="text-black">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, iure animi. Ut
                    recusandae quos minima, vitae dignissimos deserunt dicta et praesentium unde
                    exercitationem quaerat incidunt quis omnis aspernatur autem? Eum.
                </p>
                <div class="text-right pr-2 pb-3">
                    2023/1/4 12:08 comment:
                    <span>99</span>
                </div>
                <hr />
            </div>

            <div class="col-lg-6">
                <div>
                    <h4 class="font-weight-bold">加入我們，即刻入住陶珠尹元</h4>
                    <p class="text-black">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quibusdam aliquam,
                        blanditiis at quisquam nisi nobis. Omnis voluptate quae quia magnam, cupiditate
                        autem amet maxime. Hic saepe commodi molestias magni.
                    </p>
                    <div class="text-right pr-2">
                        2023/1/4 12:08 comment:
                        <span>99</span>
                    </div>
                </div>
                <hr />
                <div>
                    <h4 class="font-weight-bold">加入我們，即刻入住陶珠尹元</h4>
                    <p class="text-black">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quibusdam aliquam,
                        blanditiis at quisquam nisi nobis. Omnis voluptate quae quia magnam, cupiditate
                        autem amet maxime. Hic saepe commodi molestias magni.
                    </p>
                    <div class="text-right pr-2">
                        2023/1/4 12:08 comment:
                        <span>99</span>
                    </div>
                </div>
                <hr />
                <div>
                    <h4 class="font-weight-bold">加入我們，即刻入住陶珠尹元</h4>
                    <p class="text-black">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quibusdam aliquam,
                        blanditiis at quisquam nisi nobis. Omnis voluptate quae quia magnam, cupiditate
                        autem amet maxime. Hic saepe commodi molestias magni.
                    </p>
                    <div class="text-right pr-2">
                        2023/1/4 12:08 comment:
                        <span>99</span>
                    </div>
                </div>
                <hr />
            </div>
        </div>
    </section>
</div>

<section id="" style="background-color: rgb(250, 250, 237)" class="">
    <div class="mb-3 mt-5 text-center">
        <span class="h2 text-black font-weight-bold">諮詢資源</span>
        <div class="text-right w-75"><button class="btn btn-info">詳細資訊...</button></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-sm-10 mb-3 border mr-5" style="border-radius: 15px">
            <div class="h4 text-black font-weight-bold mt-2">職場轉職體驗</div>
            <div id="article1" class="row mb-3">
                <img src="~/images/WordisBIG.png" class="col-lg-4 col-md-6" />
                <span class="col-lg-8 text-black col-md-6">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad ipsum labore minima eos
                    eveniet totam ratione harum ipsam magni aliquid.
                </span>
            </div>
            <div id="article1" class="row mb-3">
                <img src="~/images/WordisBIG.png" class="col-lg-4 col-md-6" />
                <span class="col-lg-8 text-black col-md-6">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad ipsum labore minima eos
                    eveniet totam ratione harum ipsam magni aliquid.
                </span>
            </div>
        </div>
        <div class="col-lg-4 col-sm-10 mb-3 border" style="border-radius: 15px">
            <div class="h4 text-black font-weight-bold mt-2">性向測驗揭密</div>
            <div id="article1" class="row mb-3">
                <img src="~/images/WordisBIG.png" class="col-lg-4 col-md-6" />
                <span class="col-lg-8 text-black col-md-6">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad ipsum labore minima eos
                    eveniet totam ratione harum ipsam magni aliquid.
                </span>
            </div>
            <div id="article1" class="row mb-3">
                <img src="~/images/WordisBIG.png" class="col-lg-4 col-md-6" />
                <span class="col-lg-8 text-black col-md-6">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad ipsum labore minima eos
                    eveniet totam ratione harum ipsam magni aliquid.
                </span>
            </div>
        </div>
    </div>
</section>

<section class="pt-5 bg-image overlay-primary fixed overlay pb-5"
         style="background-image: url('/images/hero_1.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center text-center text-md-left mb-5 mb-md-0">
                <h2 class="text-white">Get The Mobile Apps</h2>
                <p class="mb-5 lead text-white">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit tempora adipisci impedit.
                </p>
                <p class="mb-0">
                    <a href="#" class="btn btn-dark btn-md px-4 border-width-2"><span class="icon-apple mr-3"></span>App Store</a>
                    <a href="#" class="btn btn-dark btn-md px-4 border-width-2"><span class="icon-android mr-3"></span>Play Store</a>
                </p>
            </div>
            <div class="col-md-6 ml-auto align-self-end">
                <img src="/Triangle_LOGO-removebg-preview.png"
                     alt="Free Website Template by Free-Template.co"
                     class="img-fluid" />
            </div>
        </div>
    </div>
    </section>
