<section class="section-hero overlay inner-page bg-image " style="background-image: url('/images/hero_1.jpg');"
         id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">文章</h1>
            </div>
        </div>
    </div>
</section>
<!-- home end -->
<!-- <div class="navbar navbar-expand-lg navbar-dark bg-info"> -->
<section class="site-section block__18514 pt-4" id="next-section">
    <div class="container h-100">
        <div class="row justify-content-center">
            <div class="col-lg-8 content mt-3 pt-lg-0 mt-lg-5 pb-2">
                <div class="context w-100 pt-2">
                    <div class="item row pt-4">
                        <div class="col-7">
                            <h3 class="font-weight-bolder col-10">緯謙科技股份有限公司</h3>
                        </div>
                        <div class="col-5 d-lg-flex row justify-content-end ml-md-0 pr-4">
                            <div class="col-3"></div>
                            <div class="col-9 align-content-end">
                                <script class="t1" type="text/javascript" text-align:right>
                                    var myDate = new Date();
                                    document.write(myDate.toLocaleString())
                                </script>
                            </div>
                            <div class="col-6 text-end mr-md-3">
                                <a href="#" class="btn btn-primary"><i class="fa-solid fa-pen"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item row px-5">
                        <div class="col-12">
                            <pre>
優點
卑微到只能共享緯創的福利
缺點
這家公司從2021年11月開始, 新進人員在試用期間一律要考過微軟AZ900的證照, 不管你是哪一個職務那怕是HR, 財會人員, 行銷人員, 甚至是助理,
通通都得考過AZ900證照考不過的下場是
1. 延長試用期3個月, 再考不過就請你走人
2. 先核准通過試用, 一個月內再考不過也是請你走人
原本想說慣老闆有什麼偉大的理想, 要求全員都要考過AZ900, 沒想到只是為了貪圖微軟的補助, 才要求全員都要考過AZ900; 公司好像是窮到快餓死一樣,
必須要靠微軟的少少補助才存活得下去
人生苦短, 在台北市好的工作很多, 非IT人員沒有必要為了養活這家公司, 而浪費生命去準備考一張和自己專業能力無關的證照, 未來從這家公司離職後,
AZ900對於非IT人員完全沒有任何加分的作用
況且考過AZ900, 慣老闆也不會幫你加薪
                  </pre>
                            <div class="heart"></div>
                        </div>
                    </div>
                    <hr>
                    <div class="col-12">
                        <span>
                            <p>
                                此公司的特色就是:年年虧損, 離職率高, 什麼都想做甚麼都不奇怪
                            </p>
                        </span>
                        <div>1樓</div>
                        <hr>
                        <span>
                            <p>
                                好奇 年年虧怎麼還沒倒XD
                            </p>
                        </span>
                        <div>2樓</div>
                        <hr>
                        <span>
                            <p>
                                沒倒是因為2021有個中華電信出資入股，還有新聞很風光，聽說3年要IPO
                                現在兩年過去了,還有一年可以拚,呵呵
                            </p>
                        </span>
                        <div>3樓</div>
                    </div>
                    <hr>
                    <div class="input-group col-12 my-4">
                        <textarea type="text" name="userid" class="form-control mx-2" placeholder="留下你的想法..."></textarea>
                        <button type="submit" class="b2">發送</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

